<tr>
  <td style="padding: 40px; background-color: #f9fafc">
    <p style="font-size: 14px; color: #000000; margin: 0 0 16px">
      If you need any assistance, feel free to contact our support team
      <a href="#" style="color: #16658a; text-decoration: none">Contact us</a>
    </p>
    <p style="font-size: 14px; color: #000000; margin: 0 0 24px">
      Best,<br />
      <strong>KUBIK POS</strong>
    </p>

    <!-- Logo + Socials -->
    <table width="100%" style="margin-top: 10px">
      <tr>
        <td align="left">
          <img
            src="https://dev-v1.kubikpos.id/app-icon.png"
            alt="KUBIK Logo"
            width="24"
          />
        </td>
        <td align="right">
          <a
            href="https://twitter.com"
            target="_blank"
            style="text-decoration: none"
          >
            <img
              src="https://dev-v1.kubikpos.id/twitter.png"
              alt="Twitter"
              width="24"
              style="margin: 0 6px"
            />
          </a>
          <a
            href="https://facebook.com"
            target="_blank"
            style="text-decoration: none"
          >
            <img
              src="https://dev-v1.kubikpos.id/facebook.png"
              alt="Facebook"
              width="24"
              style="margin: 0 6px"
            />
          </a>
          <a
            href="https://linkedin.com"
            target="_blank"
            style="text-decoration: none"
          >
            <img
              src="https://dev-v1.kubikpos.id/linkedin.png"
              alt="LinkedIn"
              width="24"
              style="margin: 0 6px"
            />
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
