<tr>
  <td style="background-color: #16658a; padding: 20px">
    <!-- KUBIK Logo -->
    <img class="logo" src="https://dev-v1.kubikpos.id/app-logo.png" alt="KUBIK"
      style="display: block; object-fit: contain" />
  </td>
</tr>